body {
    background-color: #080808;
    font-family: monospace;
    color: #0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    font-size: xx-large;
}

label {
    font-size: 1rem;
    padding-bottom: 15px;
}

button {
    cursor: pointer;
    touch-action: manipulation;
}

textarea {
    resize: none;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #0f0;
    width: min-content;
    padding-bottom: 20px;
    background-color: #222;
}

#inputSection {
    padding: 20px;
}

#input {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

#key {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#algorithm {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

#algoButtons>button {
    background-color: #080808;
    padding: 10px;
    color: #0f0;
    border: 1px solid #111;
}

#algoButtons>button:hover {
    border-color: #0f0;
}

.selected {
    border-color: #0f0!important;
}

#action {
    display: flex;
    flex-direction: column;
}

#actionButtons>button {
    background-color: #0f0;
    padding: 10px;
    color: #222;
    border: 1px solid #111;
}

#actionButtons>button:hover {
    background-color: #090;
}

#output {
    display: flex;
    flex-direction: column;
}

.inputform, .outputform {
    display: inline-block;
    background-color: #3c3c3c;
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 1rem;
    border: 1px solid #111;
    color: #090;
    padding: 5px;
}

.inputform:focus {
    outline: none;
    border-color:#0f0
}

.outputform:focus {
    outline: none;
}

.invalid {
    border: 1px solid #c00;
}